In [86]:
import pandas as pd 
from sklearn.preprocessing import StandardScaler

In [87]:
data=pd.read_csv('loan_approval_dataset.csv')

In [88]:
data

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4264,4265,5,Graduate,Yes,1000000,2300000,12,317,2800000,500000,3300000,800000,Rejected
4265,4266,0,Not Graduate,Yes,3300000,11300000,20,559,4200000,2900000,11000000,1900000,Approved
4266,4267,2,Not Graduate,No,6500000,23900000,18,457,1200000,12400000,18100000,7300000,Rejected
4267,4268,1,Not Graduate,No,4100000,12800000,8,780,8200000,700000,14100000,5800000,Approved
4268,4269,1,Graduate,No,9200000,29700000,10,607,17800000,11800000,35700000,12000000,Approved

In [89]:
data.columns

Index(['loan_id', ' no_of_dependents', ' education', ' self_employed',
       ' income_annum', ' loan_amount', ' loan_term', ' cibil_score',
       ' residential_assets_value', ' commercial_assets_value',
       ' luxury_assets_value', ' bank_asset_value', ' loan_status'],
      dtype='object')

In [90]:
data.columns=data.columns.str.strip()

In [92]:
data.drop(columns=['loan_id'],inplace=True)

In [93]:
data.columns

Index(['no_of_dependents', 'education', 'self_employed', 'income_annum',
       'loan_amount', 'loan_term', 'cibil_score', 'residential_assets_value',
       'commercial_assets_value', 'luxury_assets_value', 'bank_asset_value',
       'loan_status'],
      dtype='object')

In [94]:
data['Assests']=data.residential_assets_value+data.luxury_assets_value+data.bank_asset_value+data.commercial_assets_value

In [95]:
data.drop(columns=['residential_assets_value','luxury_assets_value','commercial_assets_value','bank_asset_value'],inplace=True)

In [96]:
data

,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,loan_status,Assests
0,2,Graduate,No,9600000,29900000,12,778,Approved,50700000
1,0,Not Graduate,Yes,4100000,12200000,8,417,Rejected,17000000
2,3,Graduate,No,9100000,29700000,20,506,Rejected,57700000
3,3,Graduate,No,8200000,30700000,8,467,Rejected,52700000
4,5,Not Graduate,Yes,9800000,24200000,20,382,Rejected,55000000
...,...,...,...,...,...,...,...,...,...
4264,5,Graduate,Yes,1000000,2300000,12,317,Rejected,7400000
4265,0,Not Graduate,Yes,3300000,11300000,20,559,Approved,20000000
4266,2,Not Graduate,No,6500000,23900000,18,457,Rejected,39000000
4267,1,Not Graduate,No,4100000,12800000,8,780,Approved,28800000
4268,1,Graduate,No,9200000,29700000,10,607,Approved,77300000

In [97]:
data.isnull().sum()

no_of_dependents    0
education           0
self_employed       0
income_annum        0
loan_amount         0
loan_term           0
cibil_score         0
loan_status         0
Assests             0
dtype: int64

In [98]:
data.education.unique()

array([' Graduate', ' Not Graduate'], dtype=object)

In [99]:
def clean_data(st):
    st=st.strip()
    return st

In [100]:
clean_data('Graduate')

'Graduate'

In [101]:
data.education=data.education.apply(clean_data)

In [102]:
data.education.unique()

array(['Graduate', 'Not Graduate'], dtype=object)

In [103]:
data['education']=data['education'].replace(['Graduate','Not Graduate'],[1,0])

In [104]:
data

,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,loan_status,Assests
0,2,1,No,9600000,29900000,12,778,Approved,50700000
1,0,0,Yes,4100000,12200000,8,417,Rejected,17000000
2,3,1,No,9100000,29700000,20,506,Rejected,57700000
3,3,1,No,8200000,30700000,8,467,Rejected,52700000
4,5,0,Yes,9800000,24200000,20,382,Rejected,55000000
...,...,...,...,...,...,...,...,...,...
4264,5,1,Yes,1000000,2300000,12,317,Rejected,7400000
4265,0,0,Yes,3300000,11300000,20,559,Approved,20000000
4266,2,0,No,6500000,23900000,18,457,Rejected,39000000
4267,1,0,No,4100000,12800000,8,780,Approved,28800000
4268,1,1,No,9200000,29700000,10,607,Approved,77300000

In [105]:
data.self_employed=data.self_employed.apply(clean_data)

In [106]:
data.self_employed.unique()

array(['No', 'Yes'], dtype=object)

In [107]:
data['self_employed']=data['self_employed'].replace(['Yes','No'],[1,0])

In [108]:
data.loan_status.unique()

array([' Approved', ' Rejected'], dtype=object)

In [109]:
data.loan_status=data.loan_status.apply(clean_data)

In [110]:
data.loan_status=data.loan_status.apply(clean_data)

In [111]:
data.loan_status=data.loan_status.replace(['Approved','Rejected'],[1,0])

In [112]:
from sklearn.model_selection import train_test_split

In [113]:
input_data=data.drop(columns=['loan_status'])
output_data=data['loan_status']

In [114]:
x_train,x_test,y_train,y_test=train_test_split(input_data,output_data,test_size=0.2)

In [115]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((3415, 8), (854, 8), (3415,), (854,))

In [116]:
scaler=StandardScaler()

In [117]:
x_train_scaled=scaler.fit_transform(x_train)

In [118]:
x_test_sclaed=scaler.fit_transform(x_test)

In [119]:
from sklearn.linear_model import LogisticRegression

In [120]:
model=LogisticRegression()

In [121]:
model.fit(x_train_scaled,y_train)

LogisticRegression()

In [122]:
model.score(x_test_sclaed,y_test)

0.9238875878220141

In [123]:
data.columns

Index(['no_of_dependents', 'education', 'self_employed', 'income_annum',
       'loan_amount', 'loan_term', 'cibil_score', 'loan_status', 'Assests'],
      dtype='object')

In [126]:
pred_data=pd.DataFrame([['0','0','1','4100000','12200000','8','417','17000000']],columns=['no_of_dependents','education','self_employed','income_annum','loan_amount','loan_term','cibil_score', 'Assests'])

In [127]:
pred_data=scaler.transform(pred_data)

In [128]:
model.predict(pred_data)

array([0], dtype=int64)

In [129]:
import pickle as pk

In [130]:
pk.dump(model,open('model.pkl','wb'))

In [131]:
pk.dump(scaler,open('scaler.pkl','wb'))